<div class="footer">
    <div class="doc-width flex justify-b flex-wrap">
        <p>&copy;2022 <%=data.appShortName%>. All rights reserved</p>
        <div class="flex align-c">
            <a href="#">Terms & Policies</a>
        </div>
    </div>
</div>